/*Background Image */
body {
  height: 100%;
  background-image: url("BG_Options/super_mario2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/*Form Alignment*/
#allForms {
  width: 500px;
  margin: 50px auto;
  position: relative;
}

/*Form Styling*/
#allForms fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacks forms above each other*/
  position: relative;
}


/*Hide all except first form*/
#allForms fieldset:not(:first-of-type) {
  display: none;
}


/*Form Styling of Text*/
#allForms .text, #allForms textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

#dob {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}


/*Headings*/
.title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #2C3E50;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

/*Dropdown Box*/
#state {
  margin-top: 10px;
}

/*Radio Button*/
#contactChoice{
  margin-top: 10px;
}

.email_radio{
 
}


/*Next Buttons*/
.next-button {
  width: 100px;
  background: #496ddb;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px; 
  margin: 10px 0px; 
  float:right;
}
.next-button:hover, .next-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*Previous Buttons*/
.previous-button {
  width: 100px;
  background: #496ddb;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px;
  float: left;
  margin-right: 110px;
} 
.previous-button:hover, #allForms .previous-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*Submit Button*/
.submit-button {
  width: 100px;
  background: #496ddb;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px; 
  margin: 10px 0px; 
  float:right;
} 
.submit-button:hover, #allForms .submit-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*Progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align: center;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 25px;
  line-height: 25px;
  display: block;
  font-size: 13px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*Progressbar Connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}
#progressbar li:first-child:after {
  content: none; 
}
#progressbar li.active:before,  #progressbar li.active:after{
  background: #496ddb;
  color: white;
}



